[submodule "chinese-poetry-accurate"]
	path = chinese-poetry-accurate
	url = https://github.com/chinese-poetry/chinese-poetry
[submodule "chinese-poetry-broad"]
	path = chinese-poetry-broad
	url = https://github.com/Werneror/Poetry
